In [1]:
import pandas as pd

In [3]:
# read each csv file into a pandas dataframe
df1 = pd.read_csv('2021-05.csv')
df2 = pd.read_csv('2021-06.csv')
df3 = pd.read_csv('2021-07.csv')

# concatenate the dataframes together
df_journeys = pd.concat([df1, df2, df3])

In [4]:
df_journeys

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
1208839,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
1208840,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
1208841,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
1208842,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
1208843,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [5]:
df_journeys.isnull().sum()

Departure                    0
Return                       0
Departure station id         0
Departure station name       0
Return station id            0
Return station name          0
Covered distance (m)      2330
Duration (sec.)              0
dtype: int64

We can drop null distances and also drop journeys that are less than 10 meters in distance or 10 seconds in time

In [6]:
df_journeys = df_journeys[df_journeys['Covered distance (m)'] >= 10]
df_journeys = df_journeys[df_journeys['Duration (sec.)'] >= 10]

In [7]:
df_journeys.isnull().sum()

Departure                 0
Return                    0
Departure station id      0
Departure station name    0
Return station id         0
Return station name       0
Covered distance (m)      0
Duration (sec.)           0
dtype: int64

In [9]:
df_stations = pd.read_csv('asemat.csv')
df_stations

,FID,ID,Nimi,Namn,Name,Osoite,Adress,Kaupunki,Stad,Operaattor,Kapasiteet,x,y
0,1,501,Hanasaari,Hanaholmen,Hanasaari,Hanasaarenranta 1,Hanaholmsstranden 1,Espoo,Esbo,CityBike Finland,10,24.840319,60.165820
1,2,503,Keilalahti,Kägelviken,Keilalahti,Keilalahdentie 2,Kägelviksvägen 2,Espoo,Esbo,CityBike Finland,28,24.827467,60.171524
2,3,505,Westendinasema,Westendstationen,Westendinasema,Westendintie 1,Westendvägen 1,Espoo,Esbo,CityBike Finland,16,24.805758,60.168266
3,4,507,Golfpolku,Golfstigen,Golfpolku,Golfpolku 3,Golfstigen 3,Espoo,Esbo,CityBike Finland,16,24.796136,60.168143
4,5,509,Revontulentie,Norrskensvägen,Revontulentie,Revontulentie 10,Norrskensvägen 10,Espoo,Esbo,CityBike Finland,30,24.802938,60.171551
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,453,401,Koivusaari (M),Björkholmens metrostation,Koivusaari metro station,Sotkatie 11,Dykandsvägen 11,,,,16,24.855164,60.163386
453,454,402,Bermudankuja,Bermudagränden,Välimerenkatu,Atlantinkatu 10,Atlantgatan 10,,,,16,24.910142,60.154904
454,455,403,Verkkosaari,Nätholmen,Verkkosaari,Tukkutorinkuja 3,Partitorgsgränden,,,,20,24.977548,60.189556
455,456,404,Sompasaari,Sumparn,Sompasaari,Sompasaarenlaituri 2,Sumparkajen 2,,,,14,24.976076,60.182931
456,457,405,Jollas,Jollas,Jollas,Jollaksentie 33,Jollasvägen 33,,,,16,25.061668,60.164407

It seems that Helsinki or Helsingfors is missing from columns Kaupunki and Stad we can replace the space by the relevant value

In [10]:
df_stations.loc[df_stations['Kaupunki'] == ' ', 'Kaupunki'] = 'Helsinki'
df_stations.loc[df_stations['Stad'] == ' ', 'Stad'] = 'Helsingfors'

In [11]:
df_stations

,FID,ID,Nimi,Namn,Name,Osoite,Adress,Kaupunki,Stad,Operaattor,Kapasiteet,x,y
0,1,501,Hanasaari,Hanaholmen,Hanasaari,Hanasaarenranta 1,Hanaholmsstranden 1,Espoo,Esbo,CityBike Finland,10,24.840319,60.165820
1,2,503,Keilalahti,Kägelviken,Keilalahti,Keilalahdentie 2,Kägelviksvägen 2,Espoo,Esbo,CityBike Finland,28,24.827467,60.171524
2,3,505,Westendinasema,Westendstationen,Westendinasema,Westendintie 1,Westendvägen 1,Espoo,Esbo,CityBike Finland,16,24.805758,60.168266
3,4,507,Golfpolku,Golfstigen,Golfpolku,Golfpolku 3,Golfstigen 3,Espoo,Esbo,CityBike Finland,16,24.796136,60.168143
4,5,509,Revontulentie,Norrskensvägen,Revontulentie,Revontulentie 10,Norrskensvägen 10,Espoo,Esbo,CityBike Finland,30,24.802938,60.171551
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,453,401,Koivusaari (M),Björkholmens metrostation,Koivusaari metro station,Sotkatie 11,Dykandsvägen 11,Helsinki,Helsingfors,,16,24.855164,60.163386
453,454,402,Bermudankuja,Bermudagränden,Välimerenkatu,Atlantinkatu 10,Atlantgatan 10,Helsinki,Helsingfors,,16,24.910142,60.154904
454,455,403,Verkkosaari,Nätholmen,Verkkosaari,Tukkutorinkuja 3,Partitorgsgränden,Helsinki,Helsingfors,,20,24.977548,60.189556
455,456,404,Sompasaari,Sumparn,Sompasaari,Sompasaarenlaituri 2,Sumparkajen 2,Helsinki,Helsingfors,,14,24.976076,60.182931
456,457,405,Jollas,Jollas,Jollas,Jollaksentie 33,Jollasvägen 33,Helsinki,Helsingfors,,16,25.061668,60.164407

I noticed during development that the CSV file containing stations is missing some stations from the trips CSVs or the other way around, for sake of simplicity I will drop rows of journerys that have departure or return ids that are not in stations table.

In [12]:
stations_id = df_stations['ID'].unique()

In [14]:
df_journeys = df_journeys[df_journeys['Departure station id'].isin(stations_id)]
df_journeys = df_journeys[df_journeys['Return station id'].isin(stations_id)]

In [29]:
# save to a new csv file
# df_journeys.to_csv('journeys.csv', index=False)
df_stations.to_csv('stations.csv', index=False)

It seems like concatenating all trips to one file was not a good idea so we will clean each dataset on its own and import them separately.

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814676 entries, 0 to 814675
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Departure               814676 non-null  object
 1   Return                  814676 non-null  object
 2   Departure station id    814676 non-null  int64
 3   Departure station name  814676 non-null  object
 4   Return station id       814676 non-null  int64
 5   Return station name     814676 non-null  object
 6   Covered distance (m)    814676 non-null  float64
 7   Duration (sec.)         814676 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 49.7+ MB

In [18]:
df1 = df1[df1['Departure station id'].isin(stations_id)]
df1 = df1[df1['Return station id'].isin(stations_id)]
df1 = df1[df1['Covered distance (m)'] >= 10]
df1 = df1[df1['Duration (sec.)'] >= 10]

In [22]:
df2 = df2[df2['Departure station id'].isin(stations_id)]
df2 = df2[df2['Return station id'].isin(stations_id)]
df2 = df2[df2['Covered distance (m)'] >= 10]
df2 = df2[df2['Duration (sec.)'] >= 10]

In [23]:
df3 = df3[df3['Departure station id'].isin(stations_id)]
df3 = df3[df3['Return station id'].isin(stations_id)]
df3 = df3[df3['Covered distance (m)'] >= 10]
df3 = df3[df3['Duration (sec.)'] >= 10]

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 785208 entries, 0 to 814675
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Departure               785208 non-null  object
 1   Return                  785208 non-null  object
 2   Departure station id    785208 non-null  int64
 3   Departure station name  785208 non-null  object
 4   Return station id       785208 non-null  int64
 5   Return station name     785208 non-null  object
 6   Covered distance (m)    785208 non-null  float64
 7   Duration (sec.)         785208 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 53.9+ MB

In [25]:
df1.to_csv('df1.csv', index=False)
df2.to_csv('df2.csv', index=False)
df3.to_csv('df3.csv', index=False)

In [28]:
df2

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
1,2021-06-30T23:59:36,2021-07-01T00:06:21,107,Tenholantie,111,Esterinportti,1847.0,407
2,2021-06-30T23:59:34,2021-07-01T00:06:23,9,Erottajan aukio,40,Hakaniemi (M),1602.0,405
3,2021-06-30T23:59:34,2021-07-01T00:08:00,113,Pasilan asema,107,Tenholantie,2277.0,502
4,2021-06-30T23:59:25,2021-07-01T00:22:15,41,Ympyrätalo,11,Unioninkatu,4010.0,1366
5,2021-06-30T23:59:25,2021-07-01T00:14:06,259,Petter Wetterin tie,248,Gunillantie,3555.0,877
...,...,...,...,...,...,...,...,...
1223476,2021-06-01T00:04:34,2021-06-01T00:12:10,78,Messeniuksenkatu,117,Brahen puistikko,2014.0,455
1223477,2021-06-01T00:03:54,2021-06-01T00:14:17,111,Esterinportti,119,Gebhardinaukio,1997.0,618
1223478,2021-06-01T00:03:54,2021-06-01T00:25:22,753,Linnuntie,96,Huopalahdentie,6536.0,1284
1223480,2021-06-01T00:01:28,2021-06-01T00:21:04,239,Viikin tiedepuisto,113,Pasilan asema,5678.0,1171
1223481,2021-06-01T00:00:01,2021-06-01T00:26:27,89,Tilkanvierto,711,Kirjurinkuja,5660.0,1583